
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body {
    background-color: rgb(238, 251, 255);
}

.menu {
    padding: 0.5em;
}

.title {
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-size: 32px;
    font-style: normal;
}

.title > div:hover {
    font-weight: 900;
    cursor: pointer;
}

.navStyle {
    display: flex;
    flex-direction: row;
    background-color: rgb(110, 181, 252);

    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 14pt;

    padding: 0.3em;
}

.disc {
    display: block;
    
    height: 20px;
    background-color: crimson;
    margin: 5px;        
    border-radius: 15px;
    cursor: pointer;
    z-index: 0;
}

.disc:hover {
    background-color: violet;
}

.dragging {
    cursor: grab;
    background-color:azure;
    visibility: visible;
}

.ground {
    height: 420px;
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: floralwhite;
    padding: 8px 8px 8px 8px;
}

.tower {
    height: 400px;
    width: 260px;
    background-image: url("../image/tower.svg");
    background-color: rgb(209, 209, 209);
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 10px 5px 10px;   
}

.tower > .bottom {
    height: 15px;
}

.label {
    width: 1000px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.success {
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
    z-index: 0;
    position: absolute;
    color:crimson;
    display: none;
    text-shadow: 0 0 10px #fd548d, 0 0 20px #fd6698, 0 0 30px #fd7aa6, 0 0 40px #fc90b4;
}