@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body{
    width: 1000px;
}
header{
    background-color: rgb(109, 182, 235);
}
.navStyle{
    height: 40px;
    background-color: blue;
}
nav input{
    margin-top: 10px;
}
#board .label{
    background-color: rgb(109, 182, 235);
    height: 50px;
    padding-top: 0.1px;
}
#ground{
    background-color: bisque;
    height: 420px;
    padding: 10px;
    display: flex;
    justify-content: space-around; 
}
.ground .tower{
    background-image: url("../image/tower.svg");
    background-color: rgb(140, 140, 140);
    height: 400px;
    width: 260px;  
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
#msgSuccess{
    display: none;
}

footer{
    height: 30px;
    background-color: rgb(109, 182, 235);
}

.disc {
    display: block;

    height: 20px;
    background-color: crimson;
    margin: 5px;
    border-radius: 15px;
    cursor:pointer;
    z-index: 0;
}

.disc:hover {
    background-color: violet;
}

.dragging {
    cursor: grab;
    background-color:azure;
    visibility: visible;
}


.success {
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
    z-index: 0;
    position: absolute;
    color:crimson;
    display: none;
    text-shadow: 0 0 10px #fd548d, 0 0 20px #fd6698, 0 0 30px #fd7aa6, 0 0 40px #fc90b4;
}
