nav{
    background-color: rgb(45, 45, 45);
    padding: 5px;
    width: 100%;
}

#addWord{
    background-color: rgb(165, 165, 165);
    width: 300px;
    height: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), -5px -5px -5px 10px rgba(255,255,255,0.5);
    display: none;
    z-index: 300;
    position: absolute;
    cursor: pointer;
}
#inputsBox{
    margin: 5px;
}
textarea{
    width: 270px;
}
#outBox{
    background-color: rgb(45, 45, 45);
    padding: 3px;
    display: flex;
}
#out{
    margin-right: 2px;
    margin-left: auto;
}
span{
    margin-right: 10px;
}
#goBox{
    padding-bottom: 30px;
}
#go{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
#wordBook{
    width: 300px;
    height: auto;
    border: 1px solid black;
}